<div class="media mt-4">
  <div class=" img64 d-flex align-self-start  mr-3"></div>
  <div class="media-body">
    <h5 class="mt-0"> search for trip</h5>
    <form class="form-inline">
        <input name="searchInput" class="form-control"  placeholder="Search" #searchInput="ngModel"  [(ngModel)]="searchText" >
        <button class="btn btn-outline-primary"  (click)="searchText=''">x</button>
	</form>
  </div>
</div>     


<ng-container *ngFor="let travels of travelArray">      
<div class="media mt-4" *ngIf ="filterCondition(travels)">
  <img class=" img64 d-flex align-self-start  mr-3" data-src="{{travels.picUrl}}" alt="{{travels.title}}">
  <div class="media-body">
    <h5 class="mt-0"> {{travels.title}}</h5>
    {{travels.description}}
  </div>
</div>     
</ng-container>
<p>this media-tags are filled with data from den Travelsite</p>
