<!-- <form class="form-inline">
        <input name="searchInput" class="form-control"  placeholder="Search" #searchInput="ngModel"  [(ngModel)]="searchText" style="width: 80%;" >
        <button class="btn btn-outline-primary"  (click)="searchText=''">x</button>
</form> -->
<ng-container *ngFor="let travels of travelArray">
<div class="card-deck m-1">
		<div class="card">
				<div class="card-body">
				
                        <h4 class="card-title">{{travels.title}}
                            </h4>
                        <div class="card-text">{{travels.description}}</div>
                        <div>{{travels.country}}</div>
				</div>

                <img class="card-img" src="{{travels.picUrl}}" alt="{{travels.title}}" >
                <div class="card-img-overlay offset-10" >
					<button class="btn btn-info" (click)="travelService.reInsertElements(travels) ">e</button>
					<button class="btn btn-danger" (click)="wantToDeleteElement(travels.$key)">x</button>
				</div>
                        
                        
		</div>
</div>               
</ng-container>
<div class="alert alert-danger" *ngIf="showDeletedMessage" >Deleted successfully</div>