<div class="container">
  <div class="row">
    <div class="col col-12 col-md-4">
      <div class="card h-100">
		  <div class="card-header">
		    neu
		  </div>
		  <div class="card-body ">
		    <h4 class="card-title">{{homePreviewHead1}}</h4>
		    <p class="card-text">{{homePreviewText1}}</p>
		  </div>
		  <img class="card-img-bottom" src="{{homePreviewPic1}}" alt="Card image cap">
		</div>
    </div>
    <div class="col col-12 col-md-4">
      <div class="card h-100">
		  <div class="card-header">
		    neu
		  </div>
		  <div class="card-body">
		    <h4 class="card-title">{{homePreviewHead2}}</h4>
		    <p class="card-text">{{homePreviewText2}}</p>
		  </div>
		  <img class="card-img-bottom" src="{{homePreviewPic2}}" alt="Card image cap">
		</div>
    </div>
    <div class="col col-12 col-md-4">
      <div class="card h-100">
		  <div class="card-header">
		    neu
		  </div>
		  <div class="card-body">
		    <h4 class="card-title">{{homePreviewHead3}}</h4>
		    <p class="card-text">{{homePreviewText3}}</p>
		  </div>
		  <img class="card-img-bottom" src="{{homePreviewPic3}}" alt="Card image cap">
		</div>
    </div>
  </div>
</div>